/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url("frts.jpg");
  background-color: #cccccc;
}

/* Header Section */

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  color: #ccc;
}

/* Hero Section */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

#home h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#home p {
  margin-bottom: 20px;
}

#home button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#home button:hover {
  background-color: #444;
}

/* Products Section */

#products {
  padding: 2em;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.product h3 {
  margin-top: 10px;
}

.product p {
  margin-bottom: 20px;
}

.product button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.product button:hover {
  background-color: #444;
}

/* About Section */

#about {
  padding: 2em;
}

#about h2 {
  margin-top: 0;
}

/* Contact Section */

#contact {
  padding: 2em;
}

#contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact li {
  margin-bottom: 10px;
}

#contact a {
  color: #333;
  text-decoration: none;
}

#contact a:hover {
  color: #444;
}

/* Footer Section */

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

footer p {
  margin-bottom: 0;
}